.App {
  max-width: 1200px;
  margin: auto;
}

header {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F2EBE9;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
}

.logo span {
  font-size: 20px;
  padding: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .link {
  padding: 10px;
  border: .5px solid #F2EBE9;
  border-radius: 5px;
  margin-right: 5px;
}

.nav .link.active {
  background-color: #F2EBE9;
  border-radius: 5px;
}

.auth {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #1C59AE;
  color: #fff;
  cursor: pointer;
}

.nav .auth i {
  font-size: 16px;
}

@media screen and (max-width:480px) {
  .logo span {
    display: none;
  }
}

.card{
  border-radius: 5px;
  box-shadow: #F2EBE9 0px 1px 4px;
  padding: 10px;
  margin: 20px 5px;
}

.card .title{
  font-size: 20px;
  margin: 20px 5px;
  font-weight: 600;
}
.card .description{
  font-size: 16px;
  margin: 20px 5px;
}
.card .control{
  font-size: 16px;
  margin: 16px 5px;
  display: flex;
  justify-content: space-between;
}
.card .control .author{
  background-color: #1c59ae13;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
}
.card .control .delete{
  color: #ff4747;
  cursor: pointer;
}
footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F2EBE9;
}

.create .heading{
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.createPost {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
}
.createPost .title,
.createPost .description{
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  box-shadow: #F2EBE9 0px 1px 4px;
  border-radius: 5px;
  
}
.createPost .description{
  height: 300px;
}
.createPost button{
  font-size: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #5FD068;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
}
